@import "../../../../assets/scss/mixins";

.container {
  width: 100%;
  padding: 10px 2% 0;
  height: 100%;
  min-height: 100%;
  position: relative;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  @include flex(row, center, stretch, nowrap);
  background-color:  #eef6ff;
}

.body {
  gap: 10px;
  width: 100%;
  height: 100%;
  display: grid;
  max-width: 1280px;
  align-items: stretch;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(min-content, max-content);



  > div {
    padding: 2vh 2vw;
    border-radius: 4px;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    background-color: #ffffff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    @include flex(row, flex-start, space-between, wrap);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);

    > .heading-wrapper {
      width: 100%;
      height: 100%;
      max-height: 2vh;
      padding-bottom: 2vh;
      border-bottom: 1px solid #000000;
      @include flex(row, space-between, center, nowrap);

      > .heading {
        margin: 0;
        color: #0080ff;
        font-weight: bold;
      }
      > img {
        width: 14px;
        height: 14px;
      }
    }
    > .body-wrapper .label {
      margin: 0;
      font-size: 12px;
      font-weight: 700;
      color: #0080ff;
      box-shadow: none;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
    }
  }
  > .generate-report {
    padding: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background-color: transparent;
    @include flex(row, flex-end, false, nowrap);

    > .btn {
      border: none;
      outline: none;
      font-size: 12px;
      color:#eef6ff;
      padding: 8px 16px;
      border-radius: 4px;
      text-transform: uppercase;
      background-color:#52abff;
      box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    }
  }

  > .generate-report {
    grid-area: 1/1/1/13;
  }
  > .screening-report {
    grid-area: 2/1/2/8;
  }
  > .location-report {
    grid-area: 2/8/2/13;
  }
  > .general-report {
    grid-area: 3/1/3/3;
  }
  > .question-report {
    grid-area: 3/3/3/8;
  }
  > .age-report {
    grid-area: 3/8/3/13;
  }
}

.location-report {
  > .body-wrapper {
    width: 100%;
    > .wrapper {
      margin: 0;
      width: 100%;
      padding: 0% 2%;
      margin-top: 1%;
      border-radius: 2px;
      box-sizing: border-box;
      -ms-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      @include flex(row, space-between, false, nowrap);
      box-shadow: 0px 0px 0px 1px #0000001a;
      -moz-box-shadow: 0px 0px 0px 1px #0000001a;
      -webkit-box-shadow: 0px 0px 0px 1px #0000001a;
      > .name {
        width: 50%;
      }
      > .stats {
        width: 20%;
        text-align: center;
      }
      > .lastUse {
        width: 20%;
      }
    }
  }
}
.general-report {
  > div .wrapper {
    width: 100%;
    > label,
    p {
      margin: 0;
      display: block;
    }
    > label {
      font-size: 14px;
      margin-bottom: 8px;
    }
    > p {
      font-size: 24px;
      font-weight: 700;
      text-align: right;
    }
  }
}
.question-report {
  > .body-wrapper {
    width: 100%;
    > .wrapper {
      margin: 0;
      width: 100%;
      padding: 0% 2%;
      margin-top: 1%;
      border-radius: 2px;
      box-sizing: border-box;
      -ms-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-shadow: 0px 0px 0px 1px #0000001a;
      -moz-box-shadow: 0px 0px 0px 1px #0000001a;
      -webkit-box-shadow: 0px 0px 0px 1px #0000001a;
      @include flex(row, space-between, center, nowrap);
      > .question {
        width: 50%;
      }
      > .yes {
        width: 20%;
        text-align: center;
      }
      > .no {
        width: 20%;
        text-align: center;
      }
    }
  }
}

// .left {
//   > div {
//     padding: 2% 4%;
//     border-radius: 4px;
//     background-color: #ffffff;
//     box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
//     -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
//     -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);

//     > .headline {
//       margin: 0;
//       padding: 2% 0;
//       font-weight: 700;
//       color: #003366;
//       text-transform: uppercase;
//       border-bottom: 1px solid #dddddd;
//     }
//   }
//   > div:nth-child(1) {
//     padding: 0;
//     box-shadow: none;
//     -moz-box-shadow: none;
//     -webkit-box-shadow: none;
//     background-color: transparent;
//   }
//   > div:nth-child(2) {
//     box-shadow: none;
//     -moz-box-shadow: none;
//     -webkit-box-shadow: none;
//     background-color: transparent;
//   }

//   > .cards-wrapper {
//     @include flex(row, space-between, false, nowrap);

//     > .card {
//       width: 22%;
//       padding: 1% 2%;
//       border-radius: 4px;
//       box-sizing: border-box;
//       -ms-box-sizing: border-box;
//       -moz-box-sizing: border-box;
//       -webkit-box-sizing: border-box;
//       box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
//       -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
//       -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
//       background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);

//       > p {
//         display: block;
//       }
//       > .card-title {
//         font-size: 12px;
//       }
//       > .card-value {
//         margin: 0;
//         font-size: 40px;
//         color: #ffffff;
//         font-weight: bold;
//         text-align: center;
//       }
//       > div {
//         margin: 0;
//         @include flex(row, flex-end, false, nowrap);

//         > p {
//           margin: 0;
//         }
//         > .total {
//           margin-left: 2%;
//           color: #ffffff;
//           font-weight: 700;
//         }
//       }
//     }
//   }

//   > .tests-graph {
//     > div {
//       width: 100%;
//       margin: 2% 0;
//       @include flex(row, space-between, false, nowrap);

//       > p {
//         margin: 0;
//       }
//       > .desc {
//         width: 70%;
//       }
//       > .value {
//         width: 25%;
//         font-weight: 700;
//       }
//     }
//   }
// }

.modal {
  top: 0;
  left: 0;
  padding: 2%;
  width: 100%;
  min-height: 100%;
  position: absolute;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #000000c0;

  > .modal-body {
    width: 30%;
    height: 60vh;
    padding: 1% 2%;
    margin: 0 auto;
    border-radius: 4px;
    background-color: #ffffff;
    @include flex(column, flex-start, false, wrap);

    > .modal-header {
      height: 2%;
      > span {
        float: right;
        cursor: pointer;
        font-weight: bold;
      }
    }
    > .modal-content {
      height: 90%;
      > .wrapper {
        padding: 1% 2%;
        border-top: 1px solid #dddddd;

        > select {
          width: 100%;
          padding: 8px 16px;
          border-radius: 4px;
          border: 1px solid #dddddd;
        }

        > .time-wrapper {
          @include flex(row, space-between, false, wrap);
          > button {
            width: 30%;
            margin: 1% 0;
            padding: 8px;
            color: #0080ff;
            border-radius: 4px;
            background-color: #ffffff;
            border: 1px solid #0080ff;
          }
        }

        > .time-input-wrapper {
          padding-top: 2%;

          > div {
            @include flex(row, space-between, false, wrap);
          }
        }
      }
    }
    > .modal-footer {
      height: 8%;
      @include flex(row, flex-end, center, wrap);

      > a {
        border: none;
        outline: none;
        padding: 16px;
        font-size: 12px;
        color: #ffffff;
        border-radius: 4px;
        cursor: pointer;
        text-decoration: none;
        text-transform: uppercase;
        background-color: #0080ff;
      }
    }
  }
}

//page loader
    #loader {
  bottom: 0;
  height: 175px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 175px;
}

#loader {
  bottom: 0;
  height: 175px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 175px;
}

#loader .dot {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 87.5px;
}

#loader .dot::before {
  border-radius: 100%;
  content: "";
  height: 87.5px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(0);
  width: 87.5px;
}

#loader .dot:nth-child(7n+1) {
  transform: rotate(45deg);
}

#loader .dot:nth-child(7n+1)::before {
  animation: 0.8s linear 0.1s normal  infinite running load;
  background: #00ff80 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+2) {
  transform: rotate(90deg);
}

#loader .dot:nth-child(7n+2)::before {
  animation: 0.8s linear 0.2s normal infinite running load;
  background: #00ffea none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+3) {
  transform: rotate(135deg);
}

#loader .dot:nth-child(7n+3)::before {
  animation: 0.8s linear 0.3s normal none infinite running load;
  background: #00aaff none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+4) {
  transform: rotate(180deg);
}

#loader .dot:nth-child(7n+4)::before {
  animation: 0.8s linear 0.4s normal none infinite running load;
  background: #0040ff none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+5) {
  transform: rotate(225deg);
}

#loader .dot:nth-child(7n+5)::before {
  animation: 0.8s linear 0.5s normal infinite running load;
  background: #2a00ff none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+6) {
  transform: rotate(270deg);
}

#loader .dot:nth-child(7n+6)::before {
  animation: 0.8s linear 0.6s normal infinite running load;
  background: #9500ff none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+7) {
  transform: rotate(315deg);
}

#loader .dot:nth-child(7n+7)::before {
  animation: 0.8s linear 0.7s normal infinite running load;
  background: magenta none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+8) {
  transform: rotate(360deg);
}

#loader .dot:nth-child(7n+8)::before {
  animation: 0.8s linear 0.8s normal infinite running load;
  background: #ff0095 none repeat scroll 0 0;
}

#loader .loading {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  bottom: -40px;
  height: 20px;
  left: 0;
  position: absolute;
  right: 0;
  width: 180px;
}

@keyframes load {
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes load {
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.spinner-message {
  text-align: center;
}
  