<div class="container">
  <div class="body">
    <p class="title">Huduma Centers Management</p>
    <div class="loading-wrapper" *ngIf="loading">
      <div class="loading">
        <div class="sk-circle1 sk-circle"></div>
        <div class="sk-circle2 sk-circle"></div>
        <div class="sk-circle3 sk-circle"></div>
        <div class="sk-circle4 sk-circle"></div>
        <div class="sk-circle5 sk-circle"></div>
        <div class="sk-circle6 sk-circle"></div>
        <div class="sk-circle7 sk-circle"></div>
        <div class="sk-circle8 sk-circle"></div>
        <div class="sk-circle9 sk-circle"></div>
        <div class="sk-circle10 sk-circle"></div>
        <div class="sk-circle11 sk-circle"></div>
        <div class="sk-circle12 sk-circle"></div>
      </div>
    </div>
    <div class="card" *ngIf="!loading">
      <p class="heading">Center Locations</p>
      <div class="row-title">
        <p class="id"></p>
        <p class="name">Name</p>
        <p class="county">County</p>
        <p class="status">Status</p>
        <p class="kiosks">Kiosks</p>
        <p class="created">Created On</p>
        <!-- <p class="action">Action</p> -->
        
      </div>
      <div class="row" *ngFor="let location of locations; let i = index">
        <p class="id">{{ i + 1 }}</p>
        <p class="name">{{ location.name }}</p>
        <p class="county">{{ location.county }}</p>
        <p class="status">{{ location.status }}</p>
        <p class="kiosks">{{ location.kiosks }}</p>
        <p class="created">{{ location.createdOn }}</p>
        <!-- <p class="action">
          <button class="action-btn" type="button">
            <img src="../../../../assets/icons/edit.svg" />
          </button>
        </p> -->
      </div>
    </div>
  </div>
</div>