@import "../../../../assets/scss/mixins";

.navbar {
  padding: 5% 0%;
  min-height: 100%;
  background-color:#017af5;
  padding-left: 10px;
 
  @include flex(column, space-between, false, nowrap);

  > .wrapper {
    > .nav-list {
      margin: 0;
      margin-bottom: 10%;
    }
  }
  > .nav-list {
    margin: 0;
    margin-bottom: 10%;
  }
}

.nav-brand {
  > img {
    width: 110%;
    height: 30%;
    padding-left:0px;
    padding-right:0px;
    margin-left:-9px;
    margin-top:-12px;
    
  }
}

.heading {
  margin: 0;
  color:black;
}

.nav-item {
  padding: 15px 10px;
  @include flex(row, false, center, nowrap);

  > .title {
    margin: 0;
    outline: none;
    cursor: pointer;
    color: #eef6ff;
    text-decoration: none;
  }
  > img {
    width: 18px;
    height: 18px;
    margin-right: 4%;
  }

  &:hover {
    border-radius: 4px;
    background-color: #ffffff15;
    > .title {
      color: #ffffff;
    }
  }
}
